%h1 Big screen

%p
  total:
  %span.total
    = @game.total_player_count

  moved:
  %span.moved
    = @game.moved_player_count

= button_to 'Next', '/next', :method => :post

- Player.all.each do |player|
  %p
    = car_image(player)

