%h1 Listing players

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @players.each do |player|
      %tr
        %td= link_to 'Show', player
        %td= link_to 'Edit', edit_player_path(player)
        %td= link_to 'Destroy', player, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Player', new_player_path
