.pull-right
  float: right
.qr-code
  position: absolute
  width: 100%
  text-align: right
  z-index: -100

.ad
  width: 100%
  margin-top: 30px
  text-align: center
  img
    max-width: 100%

ul.cars
  list-style-type: none
  overflow: auto
  margin-left: 0
  li
    white-space: nowrap

@for $i from 0 through 6
  .scar#{$i}::after
    content: image-url('car-scar#{$i}.png')

.steps
  display: inline-block

@for $i from 0 through 50
  .step#{$i}
    width: #{$i * 30}px

.top-bar
  width: 100%
  background-color: black
  color: white
  height: 30px

.top-bar-block
  display: inline
  margin-right: 15px

.index
  color: red
  font-size: 80px

.dice-number
  display: none

.player-body
  display:block
  width: 100%
  h1
    text-align: center
    margin-bottom: 50px
  .message
    display: block
    width: 100%
    height: 50px
  .car
    text-align: center
  .button_to
    text-align: center
  input[type='submit']
    background-color: blue
    width: 60%
    margin: 5px
    font-size: 50px
    color: white
    padding: 15px
    border-radius: 16px
  input[type='submit'][value='super']
    background-color: red
  .dice
    display: block
    width: 100%
    .dice-face
      width: 150px
      margin-left: auto
      margin-right: auto
      border: solid 1px black
      border-radius: 25px
      background-color: green

@for $i from 1 through 6
  .dice-face#{$i}::after
    content: image-url('dice#{$i}.png')

